#gokuMain {
	height: 500px;
	max-width: 1280px;
    position: fixed;
    left: 10%;
    top: 106px;
	animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
@media only screen and (max-width: 1280px) {
    #gokuMain {
        display: none;
    }
	.vegeta {
		display: none;
	}
}



.vegeta {
	height: 500px;
	max-width: 1280px;
    position: fixed;
    right: 10%;
    top: 87px;
	animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#turn {
	font-family: 'Bowlby One';
	font-size: 50px;
	font-style: italic;
}

.container{
	width: 330px;
	overflow: hidden;
	margin: 50px auto 0 auto;
}

.container span{
	display: block;
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
	margin-bottom: 40px;
}

.container .box{
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	transition: all .25s ease-in-out;
	font-size: 85px;
	text-align: center;
	line-height: 100px; 
	cursor: pointer;
  }

.container .box:hover{
	background: rgb(247, 142, 23);
	color: rgb(108, 108, 108);
}

.btn{
	width: 209px;
	height: 190px;
	font-weight: bold;
	cursor: pointer;
	font-size: 15px;
	display: block;
	margin: 40px auto;
	background-image: url("./imgs/dragonballButton.png");
}

.win{
	background: #19a6c9; 
	color: rgb(23, 191, 221);
}

#bg {
	background-image: url("./imgs/background.jpeg");
}

.playWithSound {
	display: block;
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
	margin-bottom: 40px;
}